<div class="div-botao-fixo">
    <a href="https://api.whatsapp.com/send?phone=5511950883808" class="icon" target="_blank"> <i class="fab fa-whatsapp"></i> </a>
</div>

<body>
    <br>
    <div class="container">
        <div class="row-cols-1">
            <h1 class="fw-bold">EMAGREÇA COM SAÚDE</h1>
        </div>
        <div class="row-cols-1">
            <h3>Agende a sua consultoria e ganhe um e-book exclusivo
                que irá te auxiliar a chegar nos seus resultados.</h3>
        </div>
        <div class="div-botao-final">
            <a href="https://api.whatsapp.com/send?phone=5511950883808&text=Olá,%20vim%20através%20do%20site%20e%20gostaria%20de%20saber%20mais%20informações%20sobre%20sua%20consultoria.">
                <button class="btn btn-success"> CLIQUE AQUI! </button>
            </a>
        </div>
        <div class="imagem">
            <img src="../../assets/images/capa-ebook.jpg" alt="Capa Ebook" />
        </div>
        <div class="imagem">
            <img src="../../assets/images/marmitas.jpg" alt="Marmitas" />
        </div>

        <div class="row-cols-1">
            <h1 class="fw-bold">MARMITAS FIT</h1>
        </div>
        <div class="row-cols-1">
            <h3>
                Contrate a profissional que cuida da sua saúde através da alimentação saudável,
                clique no botão para mais informações.
            </h3>
        </div>
        <div class="div-botao-final">
            <a href="https://api.whatsapp.com/send?phone=5511950883808&text=Olá,%20vim%20através%20do%20site%20e%20gostaria%20de%20saber%20mais%20informações%20sobre%20sua%20consultoria.">
                <button class="btn btn-success"> CLIQUE AQUI! </button>
            </a>
        </div>
    </div>
    <br>
</body>
    
<app-footer></app-footer>
<router-outlet></router-outlet>