<mat-toolbar class="toolbar">
    <button class="botao-logo"> <a routerLink="/" routerLinkActive="active"><img class="imagem-logo" src="assets/images/logo.png"></a> </button>
    <span class="spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <!-- <button mat-icon-button class="example-icon"routerLinkActive="active">
      <mat-icon>
        workspaces
      </mat-icon>
    </button> -->
</mat-toolbar>
  
  <router-outlet></router-outlet>