footer{
    background-color: #FFDE59;
}

.container {
    align-content: center;
}

.footer-title {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    h4 {
        margin-bottom: 5px;
    }
}

.social-links{
    text-align: center;
    list-style-type: none;
}

.social-links-li a{
    color: #D71920;
    text-decoration: none;
    margin-left: 1%;
}

.social-links-li a svg:hover{
    transform: scale(1.2);
    color: #ff8793;
}

.li-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    background-color: #A68947;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block; 
    width: 50%; 
    animation: vibrar 1s infinite;
    font-family: "Trirong", serif;
}

.li-links a:hover{
    background-color: #e9dbbd;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.li-links:hover{
    transform: scale(1.05);
}